.correct-ball,
.secret-ball {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  user-select: none;
}

.secret-ball {
  background-color: black;
  font-size: 25px;
  text-align: center;
}
